[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-storages = "*"
django-rest-swagger = "*"
django-rest-auth = "*"
django-guardian = "*"
django-filter = "*"
django-extensions = "*"
django-environ = "*"
django-anymail = "*"
django-allauth = "*"
amqp = "*"
billiard = "*"
"boto3" = "*"
celery = "*"
dj-database-url = "*"
docutils = "*"
gunicorn = "*"
raven = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.8"
